.top-list {
  margin-top: 1.5em;
}
.intro-section {
  margin-bottom: 2.7em;
}
.blog-admin-interface {
  margin-top: 1em;
  margin-bottom: 3em;
}
@media (min-width: 1025px) {
  .blog-admin-interface {
    margin-top: 6.2em;
  }
}
