<div id="skip">
	<a href="#content">Skip to main content</a>
</div>
<header role="banner">
	<a href="/">
		<h1 class="co-name">frances ink</h1>
	</a>
	<div class="title-bar" data-responsive-toggle="site-menu" data-hide-for="medium">
		<button class="menu-icon" type="button" data-toggle="site-menu"></button>
	</div>

	<div class="top-bar" id="site-menu">
		<div class="logo">
			<a href="/">
				<img src="/assets/img/logo.svg" alt="Frances Ink">
			</a>
		</div>
		<nav class="top-bar-right" role="navigation">
			<ul class="dropdown menu main-menu" data-dropdown-menu>
				<li>
					<a href="/">Portfolio</a>
					<ul class="menu vertical">
						<li>
							<a href="/portfolio/the-good-supply.html">The Good Supply</a>
						</li>
						<li>
							<a href="/portfolio/modular-design.html">Modular Design</a>
						</li>
						<li>
							<a href="/portfolio/first-choice.html">First Choice</a>
						</li>
						<li>
							<a href="/portfolio/frances-ink.html">Frances Ink</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/about.html">About</a>
				</li>
				<li>
					<a href="/contact.html">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
